body
{
    background-color: rgb(88, 87, 87);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: grey;
}
#cabecera
{
    background: rgb(60, 93, 182);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 1em;
    box-shadow: 0px 2px 20px 0px grey;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 0 0 0;
}
#container
{
    width: 70%;
    border:1px solid rgb(88, 87, 87) ;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    
}

#container h1
{
    font-size: 20px;
}
#post
{
    background-color: white;
    padding: 1em;
}
#footer
{
    background-color: rgb(45, 45, 48);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}